* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.section {
    display: grid;
    grid-template-columns: 900px 300px;
    grid-template-rows: 500px;
    width: 1200px;
    margin: auto;
}

aside {
    background-color: green;
}

footer {
    height: 50px;
    border-top: 1px solid gray;
}

footer address {
    font-style: normal;
    width: 1200px;
    margin: 30px auto;
}
